<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="2000000"/>
      
      
    <!--set membership elements to control the login and signup-->
     <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="FastLearnCon" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" minRequiredPasswordLength="8" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="true" passwordFormat="Hashed" />
      </providers>
    </membership>
  
    <!--set rolemanager to true-->
    <roleManager enabled="true"></roleManager>
    
    <!--set authentication mode to forms-->
  <authentication mode="Forms">
      <forms timeout="10" protection="All" slidingExpiration="true"></forms>
         </authentication>
   <!--end of set timeout for authentication-->  
  
  <!--set profile information for specific users-->
  <profile automaticSaveEnabled="true">
    <properties>
      <add name="Name" />
      <add name="CardNo" />
      <add name="CCV" />
    </properties>
  </profile>
  
  <!--set custom errors for 404-->
<customErrors mode="RemoteOnly" defaultRedirect="404.aspx">
  <error statusCode="404" redirect="404.aspx"/>
  <error statusCode="500" redirect="404.aspx"/>
</customErrors>

    </system.web>

<!--to make the data-validators work-->
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

<!--connection strings-->
   <connectionStrings>
    <remove name="LocalSqlServer"></remove>
    <add name="FastLearnCon" connectionString="Data Source=DESKTOP-QKK6H65; Initial Catalog=FastLearnDb;Integrated Security = true;" />
    <add name="LocalSqlServer" connectionString="Data Source=DESKTOP-QKK6H65; Initial Catalog=FastLearnDb;Integrated Security = SSPI;" />
  </connectionStrings>
    


</configuration>
