body {
    background-color: #dfdfdf;
}
.containers
{
    min-height:100%;
    height:100%;
}

.namelist
{
    background-color:white;
    width:300px;
    padding-left:0px;
    border-left: 1px solid #f2f2f2;
    border-radius:5px 5px;
    min-width:300px;
    height:450px;
    max-width:300px;
}

.namelist a
{
    color:black;
}
.collg3
{
padding-left:0px;
overflow-x:hidden;
    /*overflow-y:scroll;*/
    min-height:450px;
    max-height:450px;
    background-color:white;
}
.collg3::-webkit-scrollbar {
    width: 7px;
}

.collg3::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/ 
    border-radius: 10px;
    background-color:transparent;
}

.collg3::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color:rgba(0,0,0,.45);
}
.col-lg-8
{
    
}
.names
{
    border-top: 1px solid #f2f2f2;
    padding:10px;
    width:300px;
    cursor:pointer;
    height:70px;
    border-top: 1px solid #f2f2f2;
    min-width:300px;
}

.names p
{
    float:left;
    font-family:'Open Sans Regular';
    font-size:1em;
    margin-top:15px;
    margin-left:20px;
    font-weight:700;
}

.names img
{
    float:left;
    border-radius:50%;
    width:50px;
    height:50px;
    margin-left:20px;
}



.names:hover, .names:active{
   background-color: #e9ebeb;
}

.selected
{
    background-color: #e9ebeb;
}

.sideheader
{
    height: 65px;
    background-color: #eee;
    z-index: 1000;
    padding-right: 16px;
    padding-left: 15px;
    border-left: 1px solid rgba(0,0,0,.08);
    min-width:300px;
}

.sideheader img
{
    float:left;
    border-radius:50%;
    width:40px;
    height:40px;
    margin-left:20px;
    margin-top:15px;
}

.sideheader p{
    float:left;
    font-family:'Source Sans Pro Bold';
    font-size:1.3em;
    font-weight:bolder;
    margin-left:10px;
    padding-top:17px;
}

.messageList
{
    box-sizing:border-box;
    min-height:387px;
    max-height:387px;
    height:387px;
    overflow-y:auto;
    overflow-x:hidden;
    margin-right:-15px;
}

.containerpanel
{
    min-width:950px;
    min-height:70%;
    box-sizing:border-box;
    background-color: #dddbd1;/*,#d2dbdc);*/       
    display:inline-block;
    border-radius:7px;
    border: 1px solid rgba(0,0,0,.08);
    margin-top:-30px;
    margin-left:40px;
}

.messageheader
{
    height: 65px;
    width: 101.3%;
    background-color: #eee;
    z-index: 1000;
    margin-right:-50px;
    margin-left:-9.7px;
    border: 1px solid rgba(0,0,0,.08);
    border-radius:0px 5px;
}

.messageheader img
{
    float:left;
    border-radius:50%;
    width:40px;
    height:40px;
    margin-left:20px;
    margin-top:15px;
}

.messageheader p{
    float:left;
    font-family:'Source Sans Pro Bold';
    font-size:1.3em;
    font-weight:bolder;
    margin-left:10px;
    padding-top:17px;
}
.messageheader small
{
    margin-left:0px;
    padding-top:42px;
    left:70px;
    position:absolute;
    font-family:'Source Sans Pro Light';
    font-size:1em;
    font-weight:700;
}

.messages-in
{
    background-color:white;
    float:left;
    margin-top:10px;
    }
.messages
{
    padding: 6px 7px 8px 9px;
    font-size: 13.6px;
    line-height: 19px;
    font-family: 'Open Sans',sans-serif;
    word-wrap: break-word;
    color: #262626;
}

.messages .time
{
        bottom: 3px;
    right: 7px;
font-size: 11px;
    color: rgba(0,0,0,.45);
    line-height: 15px;
    height: 15px;
    float:right;
}

.messages-out
{
    background-color: #dcf8c6;
    float: right;
    margin-top:10px;
}

.messages-in, .messages-out
{
    border-radius: 7.5px;
    position: relative;
    max-width: 336px;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
        transition: .2s cubic-bezier(.31,.34,.3,.99);
        font-family:'Open Sans Light';
        font-weight:600;
        font-size:1.1em;
        
}

.msg
{
        margin-bottom: 5px;
    position: relative;
    padding-left:5%;
    padding-right:5%;
    margin-left:20px;
    min-height:90px;
        margin-right:20px;
}




.messages-in:before{
    content: '';
    position: absolute;
    left: -11px;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image:url("../../images/incontent.png");
}

.messages-out:before{
        content: '';
    position: absolute;
    bottom: 3px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    right:-11px;
    background-image:url("../../images/outcontent.png");
}

.messagefooter
{
    background-color: #ede9e4;
    box-sizing: border-box;
    min-height: 62px;
    z-index: 102;
    position: absolute;
    padding-top:10px;
    padding-right:40px;
    padding-left:30px;
    right:0px;
    /*left:62.5px;*/
    font-weight:400;
    font-family:'Open Sans Regular';
    font-size:1.2em;
    width:100%;
}

.textbox,.btn
{
 height:40px;
}

.messageList::-webkit-scrollbar {
    width: 7px;
}

.messageList::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/ 
    border-radius: 10px;
    background-color:transparent;
}

.messageList::-webkit-scrollbar-thumb{
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color:rgba(0,0,0,.45);
}