<?xml version="1.0"?>
<configuration>
    <system.web>
      <!--to deny anonymous users and allow only Admin-->
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    <pages enableEventValidation="false"></pages>
    </system.web>
</configuration>
